* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  background-color: #F8F8F8; }

img {
  vertical-align: middle; }

.text-center {
  text-align: center; }

.w-100 {
  width: 100%; }

.w-33 {
  width: 33.33%; }

h2 {
  font-size: 32px; }
  h2 span {
    font-size: 36px; }

p {
  font-weight: 400; }

ul li {
  list-style: none; }
  ul li a {
    text-decoration: none;
    font-weight: 700;
    color: #000000; }

.order-1 {
  order: 1; }

.order-2 {
  order: 2; }

/* Header css */
header {
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: #ffffff; }
  header .nav {
    height: 64px;
    padding: 0px 55px;
    display: flex;
    align-items: center; }
    header .nav ul li {
      display: inline-block; }
      header .nav ul li a {
        padding: 0px 15px; }
    header .nav .nav-right {
      text-align: right; }
      header .nav .nav-right ul li a {
        padding: 0px 10px; }
  header .responsive-menu,
  header .menu-bar {
    display: none; }

/* Banner css */
.banner {
  background-image: url(../images/banner.jpg);
  background-repeat: no-repeat;
  height: 983px;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative; }
  .banner .banner-text {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff; }
    .banner .banner-text p {
      font-size: 20px;
      margin-top: 10px;
      margin-bottom: 30px; }
    .banner .banner-text a {
      background-color: #000000;
      color: #ffffff;
      display: inline-block;
      width: 180px;
      height: 50px;
      line-height: 50px;
      text-decoration: none;
      border-radius: 6px; }

/* About css */
.about-section {
  background-color: #F5EDE0;
  padding: 285px 120px; }
  .about-section .about-row {
    display: flex; }
    .about-section .about-row .about-left {
      width: 65%; }
      .about-section .about-row .about-left h2 {
        margin-bottom: 20px; }
    .about-section .about-row .about-right {
      padding-left: 50px;
      width: 35%; }
    .about-section .about-row:last-child {
      margin-top: 150px; }
      .about-section .about-row:last-child .about-left {
        padding-left: 20px; }
        .about-section .about-row:last-child .about-left h2 {
          text-align: right; }
      .about-section .about-row:last-child .about-right {
        padding-left: 0;
        padding-right: 50px; }

/* Contact css */
#contact .contact-section {
  padding: 115px 0px;
  max-width: 800px;
  margin: 0 auto; }
  #contact .contact-section .contact-main {
    margin-top: 60px;
    display: flex; }
    #contact .contact-section .contact-main .form-section {
      width: 53%; }
      #contact .contact-section .contact-main .form-section form label {
        margin-bottom: 7px;
        display: block; }
      #contact .contact-section .contact-main .form-section form .input-box {
        margin-bottom: 25px; }
        #contact .contact-section .contact-main .form-section form .input-box input {
          height: 35px;
          line-height: 35px;
          padding: 10px;
          border: 1px solid #000000;
          background: #F8F8F8; }
          #contact .contact-section .contact-main .form-section form .input-box input:focus-visible {
            outline: none; }
        #contact .contact-section .contact-main .form-section form .input-box textarea {
          height: 160px;
          padding: 10px;
          resize: none;
          border: 1px solid #000000;
          background: #F8F8F8; }
          #contact .contact-section .contact-main .form-section form .input-box textarea:focus-visible {
            outline: none; }
      #contact .contact-section .contact-main .form-section form a {
        background-color: #000000;
        color: #ffffff;
        display: block;
        text-decoration: none;
        height: 35px;
        line-height: 35px; }
    #contact .contact-section .contact-main .details {
      width: 47%;
      padding-left: 150px; }
      #contact .contact-section .contact-main .details ul li {
        margin-bottom: 10px; }

/* Login css */
.login {
  max-width: 400px;
  height: 860px;
  margin: 0 auto;
  position: relative; }
  .login form {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%); }
    .login form label {
      margin-bottom: 7px;
      display: block; }
    .login form .input-box:first-child {
      margin-bottom: 25px; }
    .login form .input-box input {
      height: 35px;
      line-height: 35px;
      padding: 10px;
      border: 1px solid #000000;
      background: #F8F8F8; }
      .login form .input-box input:focus-visible {
        outline: none; }
    .login form a.forget {
      text-decoration: none;
      display: block;
      color: #000000;
      font-weight: 400;
      margin-bottom: 25px;
      margin-top: 10px; }
    .login form a.sign-in {
      background-color: #000000;
      color: #ffffff;
      display: block;
      text-decoration: none;
      height: 35px;
      line-height: 35px; }

/* Shop css */
.shop {
  padding: 92px 100px 80px; }
  .shop .header-shop p {
    font-size: 20px; }
  .shop .shop-main {
    margin-top: 70px;
    display: flex; }
    .shop .shop-main .filter-shop {
      width: 17%; }
      .shop .shop-main .filter-shop p {
        font-weight: 700;
        margin-bottom: 40px;
        position: relative; }
        .shop .shop-main .filter-shop p:after {
          content: '';
          position: absolute;
          height: 2px;
          width: 130px;
          background-color: #000000;
          bottom: -10px;
          left: 0; }
      .shop .shop-main .filter-shop ul li {
        margin-bottom: 15px; }
        .shop .shop-main .filter-shop ul li a {
          font-weight: 400;
          transition: 0.3s; }
          .shop .shop-main .filter-shop ul li a:hover {
            opacity: 0.8; }
    .shop .shop-main .product-list {
      padding: 0px 100px;
      width: 83%; }
      .shop .shop-main .product-list .product-outer .product-row {
        display: flex; }
        .shop .shop-main .product-list .product-outer .product-row:first-child {
          margin-bottom: 40px; }
        .shop .shop-main .product-list .product-outer .product-row .product-item-inner {
          width: 33.33%;
          padding: 0px 20px; }
          .shop .shop-main .product-list .product-outer .product-row .product-item-inner a {
            text-decoration: none;
            display: block;
            color: #000000; }
            .shop .shop-main .product-list .product-outer .product-row .product-item-inner a img {
              width: 100%;
              margin-bottom: 10px; }
            .shop .shop-main .product-list .product-outer .product-row .product-item-inner a p {
              font-weight: 700; }
              .shop .shop-main .product-list .product-outer .product-row .product-item-inner a p span {
                display: block;
                font-weight: 400; }
  .shop .pagination {
    padding-right: 120px;
    padding-top: 150px;
    text-align: right; }
    .shop .pagination ul li {
      display: inline-block;
      margin-right: 7px; }
      .shop .pagination ul li:last-child {
        margin-right: 0; }
      .shop .pagination ul li a {
        display: block;
        border: 1px solid #000000;
        width: 35px;
        height: 35px;
        line-height: 35px;
        transition: 0.3s; }
        .shop .pagination ul li a:hover {
          background-color: #000000;
          color: #ffffff; }
      .shop .pagination ul li a.active {
        background-color: #000000;
        color: #ffffff; }

/* Cart css */
.cart {
  display: flex;
  height: 1047px; }
  .cart .cart-left {
    width: 50%;
    text-align: center;
    position: relative; }
    .cart .cart-left img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 380px; }
  .cart .cart-right {
    background-color: #ffffff;
    width: 50%;
    position: relative; }
    .cart .cart-right .cart-description {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 446px; }
      .cart .cart-right .cart-description .title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px; }
        .cart .cart-right .cart-description .title p {
          font-weight: 700; }
        .cart .cart-right .cart-description .title span {
          font-weight: 400; }
      .cart .cart-right .cart-description .subtitle {
        margin-bottom: 15px; }
      .cart .cart-right .cart-description .size ul li {
        display: inline-block;
        margin-right: 7px;
        height: 65px;
        width: 65px;
        line-height: 65px;
        text-align: center;
        border: 1px solid #A0A0A0;
        transition: 0.3s;
        cursor: pointer; }
        .cart .cart-right .cart-description .size ul li:hover {
          border: 1px solid #000000; }
        .cart .cart-right .cart-description .size ul li:last-child {
          margin-right: 0; }
      .cart .cart-right .cart-description .size ul li.active {
        border: 1px solid #000000; }
      .cart .cart-right .cart-description a.add-cart {
        background-color: #000000;
        color: #ffffff;
        text-decoration: none;
        display: block;
        margin-top: 15px;
        height: 52px;
        line-height: 52px;
        transition: 0.3s;
        border: 1px solid #000000; }
        .cart .cart-right .cart-description a.add-cart:hover {
          color: #000000;
          background-color: #ffffff; }

/* Footer css */
footer {
  height: 72px;
  line-height: 72px; }
  footer p {
    border-top: 1px solid #2C2C2C;
    background: #151515;
    font-weight: 700;
    color: #A8A8A8; }

/*# sourceMappingURL=main.css.map */
